/* body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: pink;  
}   */
.button {   
       background-color: #cf5c0f;   
       width: 100%;  
        color: #fff;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer; 
        font-weight: 600; 
         }   
 .form {  
        width: 360px; 
        padding: 1rem;
        background-color: #282828;   
    }   
 .input {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 1px solid #cf5c0f;   
        box-sizing: border-box;  
    }  
 .button:hover {   
        opacity: 0.7;   
    }      
        
     
 .container {   
        padding: 25px;   
        background-color: lightblue;  
    }
.textAlignCenter{
  text-align: center;
}
.flexRowCenter{
  display: flex;
  justify-content: center;
}   
.flexColCenter{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.error{
  font-size: 10px;
  color: #cf5c0f;
}